.bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: Arial, sans-serif;
    text-align: center;
}

#dropdownMenuButton {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    white-space: pre;
    color: #BA2121;
}

#numericInput {

}

.code {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    white-space: pre;
    color: #BA2121;
}

.dropdown-item {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    white-space: pre;
}

.activeLink {
    background: grey;
}